<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>REUSE</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="/static/static2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/static2/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/static2/css/templatemo-topic-listing.css" rel="stylesheet">
    <link href="/static/static2/css/search_s.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="/static/static2/js/jquery.min.js"></script>
    <script src="/static/static2/js/bootstrap.bundle.min.js"></script>
    <script src="/static/static2/js/jquery.sticky.js"></script>
    <script src="/static/static2/js/click-scroll.js"></script>
    <script src="/static/static2/js/custom.js"></script>
</head>

<body id="top">
<main>

    <!-- 네비바 시작 -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img src="/static/static2/images/logo.png" class="logo" alt="">
                <span>Reuse</span>
            </a>

            <div class="d-lg-none ms-auto me-4">
                <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" th:href="@{/}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" th:href="@{/}">게시판</a>
                    </li>

                    <!-- 회원가입 -->
                    <li class="nav-item">
                        <a class="nav-link click-scroll" sec:authorize="isAnonymous()" th:href="@{/auth2/signup}">회원가입</a>
                    </li>

                    <!-- 로그인한 회원만 볼수있는 메뉴 -->
                    <li class="nav-item">
                        <a class="nav-link click-scroll" sec:authorize="hasRole('ROLE_USER')" th:href="@{/auth2/profile}">마이페이지</a>
                    </li>

                    <!-- 로그인, 로그아웃-->
                    <li class="nav-item">
                        <a class="nav-link click-scroll" sec:authorize="isAnonymous()" th:href="@{/auth2/login}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" sec:authorize="isAuthenticated()" th:href="@{/auth2/logout}">로그아웃</a>
                    </li>

                </ul>

                <div class="d-none d-lg-block">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- 네비바 끝 -->

    <section class="search-fail-top d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">

            <img src="/static/static2/images/exclamation-mark.png" class="exclamation-mark-img" alt="">

            <h4 class="text-white text-center search-fail-text-1">검색 결과가 없습니다.</h4>

            <div class="search-fail-btn-aline">
                <a th:href="@{/}" class="btn search-btn">돌아가기</a>
            </div>
            <div class="search-fail-btn-aline">
                <a th:href="@{/board/list}" class="btn search-btn">재활용 추가 신청</a>
            </div>
        </div>
    </section>

    <section class="featured-section">
        <div class="container">
            <div class="row">
                <h6 class="search-fail-text-2">혹시 이런건 어떠세요?</h6>
                <div class="col-lg-8">
                    <a th:href="@{/board/list}" class="btn search-fail-text-btn">우산</a>
                    <a th:href="@{/board/list}" class="btn search-fail-text-btn">그릇</a>
                    <a th:href="@{/board/list}" class="btn search-fail-text-btn">보조배터리</a>
                </div>
            </div>
        </div>
    </section>

</main>

<!-- 푸터 시작 -->
<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="../index.html">
                    <img src="/static/static2/images/logo.png" class="logo" alt="">
                    <span>Reuse</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Community</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">SIGN IN</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 305-240-9671" class="site-footer-link">
                        305-240-9671
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:reuse@company.com" class="site-footer-link">
                        reuse@company.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        English</button>

                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">Thai</button></li>

                        <li><button class="dropdown-item" type="button">Myanmar</button></li>

                        <li><button class="dropdown-item" type="button">Arabic</button></li>
                    </ul>
                </div>

                <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Topic Listing Center. All rights reserved.
                    <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a> Distribution <a href="https://themewagon.com">ThemeWagon</a></p>

            </div>

        </div>
    </div>
</footer>
<!-- 푸터 끝 -->
</body>
</html>