*{margin: 0; padding: 0;}

/* REUSE 로고 */
.login-logo {width: 90px; height: 60px;}

.kakaologo{border: none; background-color: white;}
img { width: 352px; height: 38px;}

.g-signin2 { margin-bottom: 10px; margin-top: 10px;}