<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>분리수거 안내 페이지</title>
  <link rel="stylesheet" href="/static2/css/search_s.css" />
</head>
<body>
<div class="bg">
  <article class="square">
    <div class="main">
      <div class="left-container">
        <img src="/static2/images/M087.png" alt="" />
      </div>

      <div class="right-container">
        <div class="item-name">
          <h1>아이템명</h1>
        </div>

        <div class="similar-item">
          <h4>#비슷한 아이템</h4>
        </div>

        <div class="enable-status">
          <p>재활용 가능</p>
        </div>

        <div class="category">
          <h4>대분류 카테고리</h4>
        </div>

        <div class="guide">
          <h3>버리는 방법</h3>
        </div>

        <div class="guide_detail">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of
          </p>
        </div>
      </div>
      <hr />
      <div class="ps">
        <p>
          수정할 내용이 있나요?
          <input type="button" value="수정 요청" onclick="localhost:8080/board"/>
        </p>
      </div>
    </div>
  </article>
</div>
</body>
</html>
